h1{color: green;
font-family: arial;
text-align: center;
}


#contenedor{
    width: 40%;
    border: 1px solid #000;
    padding: 1em;
    text-align: left;
    margin: 0, auto;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
    border-radius: 20px;


}

#contenedor h1 {
    color:blue;
    text-align: left;
}