h1{color:coral;
font-family: arial;
text-align: center;
}


#contenedor{
    width: 40%;
    border: 1px solid #000;
    padding: 1em;
    text-align: left;
    margin: 0, auto;
    margin-bottom: 20px;


}

#contenedor h1 {
    color:#000;
    text-align: left;
}